@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Roboto:wght@900&display=swap');

/* width */
::-webkit-scrollbar {
  max-width: 10px;
  position: absolute;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ffffff06; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000033;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00000055;
}

:root {
  --back: #F4EBD0;
  --fore: #122620;
  --back2: #B68D40;
  --fore2: #F4EBD0;
  --back3: #F9F3E3;
  --fore3: #122620;
  --red: #EB9898;
  --green: #A4FDB8;
  --green: #04FDA8;
  --blue: #61DAFB;
  --purple: #BBA4FD;
}

html, body {
  font-size: 12pt;
  font-family: 'Fira Sans Condensed', Arial;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  overflow: wrap;

  color: var(--fore);
  background-color: var(--back);
  scroll-snap-type: x mandatory;
}

body * {
  border-radius: 8%;
}

footer, header {
  width: 100%;
  height: 100%;

  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  color: var(--fore2);
  background-color: var(--back2);
}

header {
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
}

header .LogoAndText {
  min-height: 80px;
  max-height: 150px;
  width: 100%;
  max-width: 240px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  text-align: right;
}

header .LogoAndText img {
  max-height: 80px;
}

.SearchBar {
  margin: 3px;

  width: 100%;
  max-width: 240px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.SearchBar input {
  border: none;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  margin: 0px;
  background-image: url(./assets/searchIcon.svg);
  background-repeat: no-repeat;
  background-position: right;

  color: var(--back2);
}

.FoundItems {
  width: max-content;
  padding: 5px;
  max-height: 200px;

  top: 100px;
  position: fixed;
  right: 5px;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  overflow-x: wrap;
  overflow-y: auto;

  background: #FFFFFF33;
  border-radius: 10px;
  z-index: 256;

  padding-top: 10px;
  padding-bottom: 100%;
}

.SearchingItem {
  width: 100%;
  max-width: 400px;
  height: content;
  background: #FFFFFFEE;

  padding: 10px;

  border-radius: 10px;
  margin: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.SearchingItem img {
  max-height: 130px;
  height: auto;
}

footer {
  margin-top: 10px;
  border-radius: 15px 15px 0px 0px;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--fore);
}

h1, h2 {
  font-family: Roboto;
}

h1 {
  font-size: 17pt;
  font-size-adjust: initial;
}

h2 {
  font-size: 15pt;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Menu {
  z-index: 255;

  top: 0;
  padding-top: 5px;
  height: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  scroll-snap-align: start;

  border-radius: 0px 0px 15px 15px;
  background: var(--back2);

  margin-bottom: 20px;
}

.MenuItems {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Menu ul {
  padding: 0;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  width: 90%;

  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.Menu span {
  padding: 5px;
  border-radius: 10px;
  color: black;
}

.Menu li {
  height: 55px;
  width: 100%;

  list-style: none;
  margin-left: 2px;
  margin-right: 2px;
}
.Menu li * {
  overflow: nowrap;
  white-space: nowrap;
}

.Menu a {
  text-align: center;
}

.Category {
  scroll-snap-align: center;
  overflow-x: auto;
  max-height: 600px;
}

.CategoryTitle {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  width: 100%;
}

.CategoryTitle span {
  border-radius: 10px;
  width: 90%;
  padding: 5px;
  margin: 5px;
}

.Meals, .Category, .MealList {
  width: content;
  display: flex;
  flex-direction: Column;
  align-items: center;

  z-index: 254;
}

.PaddingTop {
  overflow-y: hidden;
  padding-top: 100px;
  position: initial;
  float: initial;
  margin-top: -100px;
}

.Meal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;

  background: var(--back3);

  width: fit-content;
  max-width: 600px;
  scroll-snap-align: center;
}

.Meal img {
  float: left;

  max-width: 40%;
  height: fit-content;
  margin: 5px;
}

.Meal .Price {
  width: 100%;

  font-size: 13pt;

  text-align: right;
  font-weight: bold;

  color: var(--fore);
}

.Meal .Info {
  width: 60%;
  margin: 5px;
}

@media (max-width: 512px) {
  header {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  header .LogoAndText {
    max-width: 100%;
    align-items: center;
    justify-content: space-around;
  }

  .Meal h1, .Meal p, .Meal h3 {
    font-size: 12pt
  }
}

@media (max-width: 319px) {
  header {
    max-width: 100%;
  }

  header .LogoAndText {
    max-width: 100%;
    flex-direction: column;
  }

  .Meal img {
    width: 100%;
  }

  .Meal {
    flex-direction: column;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
